:root {
    /* transitions */
    --transition3s: 3s;
    --transition1s: 1s;
    --transition08s: 800ms;
    --transition05s: 500ms;

    /* body */
    --bodyBack: rgb(220, 220, 220);

    /* landing */
    --landingColor1: rgb(46, 46, 46);
    --darkBarHeight: 24px;
    --landingOpacity: 0;

    /* nav container */
    --navWidth: 100%;
    --navHeight: 60px;

    /* bottomBar container */
    --bottomBarWidth: 100%;
    --bottomBarHeight: 45px;

    /* menu container */
    --menuWidth: 260px;
    --menuHeight: calc(100% - (var(--navHeight) + var(--bottomBarHeight)));

    /* config container */
    --configWidth: 300px;
}