.landingSection {

    .contentBox {
        width: 500px;
        height: 230px;
        padding: 10px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 16px;

        .titlesBox {
            border: 1px solid red;

            .titleTopBox {
                border: 1px solid green;
            }

            .titleBottomBox {
                border: 1px solid green;
                margin-top: 10px;
            }
        }

        .cubeBox {
            display: grid;
            grid-template-columns: 50px 30px 1fr;
            grid-template-rows: 280px 20px 50px;

            grid-template-columns: repeat(1fr 10);
            grid-template-rows: repeat(1fr 10);

            grid-template-areas:
                "axisY . cube"
                ". . ."
                ". . axisX";
            width: 420px;
            height: 0px;

            .axisY {
                grid-area: axisY;
            }

            .axisX {
                grid-area: axisX;
                align-self: end;
            }

            .cube-3d {
                grid-area: cube;
                display: block;
                justify-self: center;
                align-self: center;
            }
        }

        .cubeBox_expanded {
            height: 350px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .listBox {
            width: 420px;
            height: 0px;
            --terminal_padding: 12px;
            --progressBox_height: 34px;
            --commandLine_height: 24px;
            --commandLine_margin: 6px;
            --textShadow: rgb(152, 152, 152);

            .terminal {
                width: 100%;
                height: calc(100% - var(--progressBox_height));
                list-style: none;
                font-family: "whiteRabit";
                padding: var(--terminal_padding);
                border-radius: 8px;
                background: var(--landingColor1);

                background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
                background-size: 3px 3px;

                .commandLine {
                    width: 100%;
                    height: var(--commandLine_height);
                    margin-bottom: var(--commandLine_margin);

                    .commandLine_text {
                        width: fix-content;
                        height: var(--commandLine_height);
                        padding: 0px 10px;
                        color: rgb(150, 150, 150);
                        font-size: 12px;
                        border-radius: 4px;
                    }

                    .commandLine_borderPre {
                        border: 1px solid rgb(201, 255, 202);
                        box-shadow: 0 0 20px rgb(201, 255, 202);
                        transition: 0s;
                    }

                    .commandLine_borderOn {
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        box-shadow: 0 0 10px transparent;
                        transition: 1s;
                    }

                    .commandLine_done {
                        width: 60px;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.08);
                        border-radius: 4px;
                        color: rgb(201, 255, 202);
                        font-size: 12px;
                    }
                }
            }

            .progressBox {
                width: 100%;
                height: var(--progressBox_height);
            }
        }

        .listBox_expanded {
            width: 420px;
            flex: 1;
        }
    }

    .contentBox_expanded {
        height: 90%;
    }
}

@media (orientation: portrait) {
    .landingSection {

        .contentBox {
            width: 100%;
            height: 100%;
            border: 1px solid transparent;

            .titlesBox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                width: 90%;

                .titleBottomBox {
                    font-size: 4rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}