* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--bodyBack);
    overflow: hidden;

    .darkBar {
        width: 100%;
        height: var(--darkBarHeight);
        background: var(--landingColor1);
    }

    .landingSection {

        .topDarkBar {
            top: calc(var(--darkBarHeight) * -1);
        }

        .bottomDarkBar {
            bottom: calc(var(--darkBarHeight) * -1);
        }

        .landingBox {
            display: flex;

            .titlesSection {
                width: 45%;
                height: 100%;

                .titlesContainer {
                    width: 500px;
                    height: 180px;
                    padding: 30px;
                    border: 1px solid rgba(128, 128, 128, 0.534);
                    border-radius: 16px;

                    .titleTopBox {
                        margin-bottom: 10px;
                    }

                    .titleBottomBox_desplazed {
                        margin-top: 50px;
                    }
                }

                .titlesContainer_expanded {
                    height: 60%;
                }

                .progressBox {
                    margin-top: 30px;
                    width: 500px;
                    height: auto;
                    border: 1px solid red;
                }

                input {
                    font-size: 22px;
                    padding: 0 40px;
                    cursor: pointer;
                }
            }

            .animationSection {
                width: 55%;
                height: 100%;
                border: 1px solid red;

                .animationBox {
                    display: grid;
                    grid-template-columns: repeat(16, 1fr);
                    grid-template-rows: repeat(16, 1fr);
                    width: 600px;
                    height: 500px;
                }

                .cube-3d {
                    grid-column: 7 / 11;
                    grid-row: 3 / 10;
                }

                .axisY {
                    grid-column: 1 / 2;
                    grid-row: 1 / 15;
                }

                .axisX {
                    grid-column: 4 / 17;
                    grid-row: 16 / 17;
                }
            }
        }
    }


    .componentContainer {

        .backLayer {}

        .componentBox {}
    }

    .navContainer {
        top: calc(var(--navHeight) * -1);
        width: var(--navWidth);
        height: var(--navHeight);
        border: 1px solid red;
    }

    .bottomBarContainer {
        bottom: calc(var(--bottomBarHeight) * -1);
        width: var(--bottomBarWidth);
        height: var(--bottomBarHeight);
        border: 1px solid red;
    }

    .menuContainer {
        top: var(--navHeight);
        left: -100%;
        width: var(--menuWidth);
        height: var(--menuHeight);
        border: 1px solid red;
    }

    .configContainer {
        right: -100%;
        width: var(--configWidth);
        height: 100%;
        border: 1px solid red;
    }
}