* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: var(--bodyBack);
    overflow: hidden;

    .darkBar {
        width: 200%;
        height: var(--darkBarHeight);
        background: var(--landingColor1);
    }

    .landingSection {

        .contentBox {
            width: 500px;
            height: 230px;
            padding: 10px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            border-radius: 16px;

            .titlesBox .titleBottomBox {
                margin-top: 10px;
            }

            .cubeBox {
                display: grid;
                grid-template-columns: 50px 30px 1fr;
                grid-template-rows: 280px 20px 50px;
                grid-template-areas:
                    "axisY . cube"
                    ". . ."
                    ". . axisX";
                width: 420px;
                height: 0px;

                .axisY {
                    grid-area: axisY;
                }

                .axisX {
                    grid-area: axisX;
                    align-self: end;
                }

                .cube-3d {
                    grid-area: cube;
                    display: block;
                    justify-self: center;
                    align-self: center;
                }
            }

            .cubeBox_expanded {
                height: 350px;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .listBox {
                width: 420px;
                height: 0px;
                --progressBox_height: 30px;
                --commandLine_height: 20px;

                .terminal {
                    width: 100%;
                    height: calc(100% - var(--progressBox_height));
                    list-style: none;
                    font-family: "Xolonium-Regular";
                    color: rgb(134, 134, 134);
                    font-size: 12px;
                    border: 1px solid grey;
                    padding: 8px;
                    border-radius: 5px;
                    box-shadow: inset 1px 1px 3px rgb(0, 0, 0);
/*                     background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
                    background-size: 3px 3px;
 */
                    .commandLine {
                        width: 100%;
                        height: var(--commandLine_height);
                        border: 1px solid red;
                    }
                }

                .progressBox {
                    width: 100%;
                    height: var(--progressBox_height);
                }
            }

            .listBox_expanded {
                width: 420px;
                flex: 1;
            }
        }

        .contentBox_expanded {
            height: 90%;
        }
    }


    .componentContainer {

        .backLayer {}

        .componentBox {}
    }

    .navContainer {
        top: calc(var(--navHeight) * -1);
        width: var(--navWidth);
        height: var(--navHeight);
        border: 1px solid red;
    }

    .bottomBarContainer {
        bottom: calc(var(--bottomBarHeight) * -1);
        width: var(--bottomBarWidth);
        height: var(--bottomBarHeight);
        border: 1px solid red;
    }

    .menuContainer {
        top: var(--navHeight);
        left: -100%;
        width: var(--menuWidth);
        height: var(--menuHeight);
        border: 1px solid red;
    }

    .configContainer {
        right: -100%;
        width: var(--configWidth);
        height: 100%;
        border: 1px solid red;
    }
}